.SelectableList {
	background-color: white;
	border: solid 2px #666666;
	padding: 1rem;
	width: fit-content;
	min-width: 60vw;
	min-height: 60vh;
}

.SelectableList ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.SelectableList li {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	min-width: max-content;
}

.SelectableList .SelectableItemSelected {
	background-color: #9c46ff;
}

.SelectableList .loadingText {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	color: #666;
}