.DatabaseEntityFilterOptions {
	margin: 0;
}

.DatabaseEntityFilterOptions hr {
	border-top: 1px solid #b4b4b4;
	margin: 0 5%;
}

.FilterOptionsRow {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: flex-start;
	padding: 0.25rem;
	margin: 0;
}

.FilterOptionsRow h2 {
	margin: 0;
}

.FilterOptionsRow .FilterOptionsControl {
	display: flex;
	align-items: center;
	margin: 0.25rem 0.5rem;
}

.FilterOptionsRow .FilterOptionsControl button {
	margin: auto 0.25rem;
}

.FilterOptionsRow .FilterOptionsControl label {
	margin: auto 0.25rem auto auto;
	font-weight: bold;
}

.FilterOptionsRow .FilterOptionsControl select {
	width: 130px;
}

@media (max-width: 640px) {
	.FilterOptionsRow {
		flex-direction: column;
	}
}