.AddDatabaseForm {
	background-color: white;
	border: solid 2px #666666;
	padding: 1rem;
	margin: 1rem;
	width: fit-content;
	min-width: 60vw;
}

.AddDatabaseForm .infoText {
	display: block;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	color: #666;
}

.AddDatabaseForm .databaseSchemaNameInput {
	width: 100%;
	box-sizing: border-box;
	font-size: large;
}

.AddDatabaseForm .databaseSchemaSubmit, .AddDatabaseForm .databaseSchemaCancel {
	font-size: large;
	margin: 0.25em 0.5em 0.25em auto;
}