.DatabaseSelection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.DatabaseSelection h1 {
	font-size: 1.5em;
	text-align: center;
}

.DatabaseSelection .DatabaseLoadOptions {
	padding: 0.5rem;
}