spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:3306/schemashovelwebapi
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.MySQLInnoDBDialect
spring.jpa.hibernate.ddl-auto=none